.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	padding: 5px;
}
h1 {
	color: aqua;
}
.menuItems {
	color: white;
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 10px;
}
